@import url('https://fonts.googleapis.com/css?family=Prompt|Overpass');


main{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

h1, h2, h3{
    font-family: Prompt;
}

p{
    font-family: Overpass;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;
    background-color: #93A8AC;
}

#index-page{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

nav{
    padding: 30px;
    background-color: #ff9900;
    font-family: Prompt;
}


nav img{
    width: 5%;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
}

nav a{
    text-decoration: none;
    padding: 15px;
    color: white;
}

nav a:hover{
    background-color: #001F54;
    color: #ff9900;
    border-radius: 10px;
}


#directions{
    grid-column: 1/11;
    grid-row: 2/3;
    margin: 0 auto;
}

#magnifying-glass{
    width: 50%;
    transition: transform 1s;
}

#hero{
    grid-column: 6/8;
    grid-row: 1/2;
    margin: auto;
}

.logo{
    grid-column: 4/6;
    grid-row: 1/2;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

#search-link{
    grid-column: 5/7;
    grid-row: 3/4;
    margin-top: 20px;
    color: white;
}

#site-description{
    color: white;
    grid-column: 4/8;
    background-color: #001F54;
    border-radius: 40px;
    margin-bottom: 10px;
}

.step-1-card{
    grid-column: 1/4;
    grid-row: 2/3;
    
}

.step-2-card{
    grid-column: 4/8;
}

.step-3-card{
    grid-column: 8/11;
}

#serial-example{
    width: 100%;
}

.step1:nth-child(2), .step2:nth-child(2), .step3:nth-child(2){
    color: white;
}

.step1:nth-child(1), .step2:nth-child(1), .step3:nth-child(1){
    color: #001F54;
}

footer{
    background-color: #ff9900;
    padding: 5px;
}

footer a{
    text-decoration: none;
    padding: 15px;
    color: white;
}

footer a:hover{
    background-color: #001F54;
    color: #ff9900;
    border-radius: 10px;
}

#search-link:hover{
    opacity: .6;
    transform: scale(1.1);
}

#hotlink{
    color: #001F54;
    text-decoration: none;
}

#search-bar{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #001F54;
    color: white;
    grid-column: 3/9;
    grid-row: 1/2;
}

#serial-id{
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #001F54;
    color: white;
    grid-column: 5/7;
    grid-row: 2/3;
}

#search-button{
    grid-column: 7/8;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

#source-img, #vendor-img{
    width: 100%;
}

#step-1{
    grid-column: 2/4;
    grid-row: 3/4;
}

#step-2{
    grid-column: 5/7;
    grid-row: 3/4;
}

#step-3{
    grid-column:8/10;
    grid-row: 3/4;
}

#source{
    grid-column: 2/4;
    grid-row: 4/5;
    color: #001F54;
    text-decoration: underline;
}

#vendor{
    grid-column: 5/7;
    color: #001F54;
    text-decoration: underline;
}

#authenticity{
    grid-column: 8/10;
    color: #001F54;
    text-decoration: underline;
}

#status{
    width: 70%;
    margin-bottom: 20px;
    }

#about h2{
    color: red;
    background-color: #001F54;
    grid-column: 2/3;
}

#main-3{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10, 10%);
}

#hero-img{
    grid-column: 1/11;
    grid-row: 3/7;
    width: 100%;
}

#main-3 h1{
    grid-column: 4/7;
    margin: auto;
}

#main-3 h3{
    grid-column: 3/8;
    grid-row: 2/3;
    width: 100%;
}

.founder{
    grid-column: 2/5;
    grid-row: 7/10;
    padding-top: 100px;
    color: #001F54;
    text-decoration: underline;
}

.leader{
    grid-column: 7/10;
    grid-row: 7/10;
    padding-top: 100px;
    color: #001F54;
    text-decoration: underline;
}

#form{
    margin: 40px;
    padding-top: 100px;
}

.leader p, .founder p{
    background-color: #001F54;
    color: white;
    padding: 15px;
}

#founder-img, #leader-img{
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

#f-name, #l-name, #comment, #submit-button{
    border-radius: 10px;
    padding: 10px;
}

#form{
    font-family: Overpass;
}

#submit-button{
    font-family: Prompt;
    background-color: #001F54;
    color: #ff9900;
    font-weight: bold;
}