@import url('https://fonts.googleapis.com/css?family=Staatliches|Nunito+Sans');

main{
    text-align: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}


h1, h2{
    font-family: Staatliches, Impact, 'Arial Narrow Bold';
    font-size: 30px;
    color: #333333;
}

h2{
    margin: 0;
}

.msg, h4, .button-box, p, .navigation{
    font-family: Nunito Sans, Arial, Helvetica;
}

#hero-message h1{
    text-align: center;
}

#hero-message h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

body {
    background-color: #F9F9ED; 
    margin: 0;
    padding: 0;
}

#background {
    height: 725px;
    background-color: rgb(211, 186, 153);
}

nav a {
    color: #F9F9ED;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: #333333;
}

header {
    background-color:#47A8BD;
}

.msg{
    background-color: #47A8BD;
    color: #F9F9ED;
    padding: 35px;
    
}

.social{
    background-color: rgb(211, 186, 153);
}

footer{
    background-color: rgb(211, 186, 153);
    padding: 25px 50px;
    margin-top: 200px;  
}

.home-title{
    color: #333333;
    margin-top: 10px;
}

h4{
    color: #333333;
}

.reservations{
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 50px;
}

.join{
    color: #F9F9ED;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 50px;
}

.reservations:hover, .join:hover{
    background-color: rgb(211, 186, 153);
}

footer h3{
    color: #333333;
}

footer a{
    color: #333333;
    text-decoration: none;
}

footer a:hover{
    background-color: #333333;
    color: #F9F9ED;
}

footer h3 a:hover{
    text-decoration: underline;
}

.card-icon {
    width: 80px;
    padding-top: 10px;
}

#logo-pic{
    width: 80px;
    height: 80px;
    padding-top: 5px;
}

.msg p {
    padding-top: 15px;
    line-height: 1.5em;
}

footer .social img{
    padding-top: 15px;
}

.card-img{
    border: 10px solid rgb(211, 186, 153);
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}